// #header {
//     margin-bottom: 33px;
// }

.section-error {
    display: flex;
    min-height: 720px;
    align-items: center;
}

// .error-article {
//     display: flex;
//     flex-direction: column;
// }


.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error h1 {
    margin: 0;
    font-size: 300px;
    background: -webkit-linear-gradient(-61deg, #3c4852 54%, #48689a 30%);
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-background-clip: text;
    line-height: 1.5;
    letter-spacing: 1rem;
    @include media ('<860px'){
        font-size: 200px;
    }
    @include media ('<640px'){
        font-size: 100px;
    }
}


.border-click {
    border: 2px solid $black;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    font-size: 24px;
    @include media ('<860px'){
        padding-top: 15px;
        padding-bottom: 15px;
        max-width: 200px;
    }
    a {
        text-decoration: none;
        color: $black;
    }
    p {
        font-size: 24px;
        font-weight: 'Regular';
            @include media ('<860px'){
            font-size: 16px;
        }
    }
}


.return-click {
    text-align: center;
    padding-bottom: 118px;
    margin: -10px;
}

.social-find ul {
    @extend %listreset;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.social-find ul {
    li:not(:last-child){
        margin-right: 30px;
        letter-spacing: 0.1em;
    }
    p {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0em;
    }
    a {
        color: $black;
    }
}