#wrapper {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto Slab';
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1576px;
}


* {
    margin: 0;
    padding: 0;
}